.project
.settings
.DS_Store
Kernel/Language/*.old

# OTRSCodePolicy
.tidyall.d
perltidy.LOG.old
bin/otrs.CodePolicy.pl
TidyAll
Kernel/cpan-lib/Pod/Strip.pm
scripts/install-git-hooks.pl
scripts/uninstall-git-hooks.pl
OTRSCodePolicy*
perltidy.LOG
