js-cache
css-cache
var/run
var/log
var/tmp
var/article
Kernel/Config/Files/ZZZ*.pm
*.save
build.log
latest-build
.gitconfig
*.swp
.vscode
.local
.ssh

.project
.sublimelinterrc
.externalToolBuilders
.gnupg
.settings
.includepath
.DS_Store
*.swp
*.swo
*~
.profile
.vstags
.vscode*

.procmailrc
/ARCHIVE
Kernel/Config/Backups/
Kernel/Config/Files/User/*
Kernel/Language/*.old
bin/cgi-bin/.htaccess
var/virtualfs
var/OPM
var/Stats
var/httpd/htdocs/SeleniumScreenshots/
var/httpd/htdocs/js/thirdparty/jslint
var/httpd/htdocs/js/js-cache
var/httpd/htdocs/skins/*/*/css-cache
var/sessions/Data*
var/sessions/State*
var/article/*

nytprof*.out

perltidy.LOG
perltidy.LOG.old

var/stats/*.xml.installed
bin/CodeInstall.pl
bin/ModuleCode.pl
bin/DatabaseInstall.pl

.cache
.viminfo
.bash*
