# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --
# For possible search options see:
# http://otrs.github.io/doc/api/otrs/stable/Perl/Kernel/System/Ticket/TicketSearch.pm.html -> TicketSearch()
# Examples see below
# --

%Config = (
   Search => {

       # tickets created in the last 120 minutes
       TicketCreateTimeNewerMinutes => 120,

       # ticket number as STRING or as ARRAYREF
#        TicketNumber => '%123546%',
#        TicketNumber => ['%123546%', '%123666%'],

       # ticket queues
#        Queues   => ['system queue', 'other queue'],

       # ticket types
#        Types   => ['normal', 'change', 'incident'],

       # ticket priorities
#        Priorities  => ['1 very low', '2 low', '3 normal'],

       # ticket services
#        Services   => ['Service A', 'Service B'],

       # ticket locks
#        Locks   => ['unlock'],

       # ticket customers
#        CustomerID => '123',
#        CustomerID => ['123', 'ABC'],

       # 1..16 free text fields
#        TicketFreeKey1  => 'Product',
#        TicketFreeText1 => 'adasd',

       # or with multi options as array ref or string possible
#        TicketFreeKey2  => ['Product', 'Product2'],
#        TicketFreeText2 => ['Browser', 'Sound', 'Mouse'],
   },

# Declaration of thresholds
# min_warn_treshold > Number of tickets -> WARNING
# max_warn_treshold < Number of tickets -> WARNING
# min_crit_treshold > Number of tickets -> ALARM
# max_warn_treshold < Number of tickets -> ALARM

   min_warn_treshold => 5,
   max_warn_treshold => 10,
   min_crit_treshold => 2,
   max_crit_treshold => 20,

# Information used by Nagios
# Name of check shown in Nagios Status Information
   checkname => 'OTRS Checker',

# Text shown in Status Information if everything is OK
   OK_TXT    => 'enjoy   tickets:',

# Text shown in Status Information if warning threshold reached
   WARN_TXT  => 'number of tickets:',

# Text shown in Status Information if critical threshold reached
   CRIT_TXT  => 'critical number of tickets:',

);
