# --
# cron/itsmchange_check - itsm change check cron of the OTRS
# Copyright (C) 2001-2014 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

# check every 120 min the changes
45 */2 * * *    $HOME/bin/otrs.ITSMChangesCheck.pl >> /dev/null
