# --
# cron/survey_trigger_send_requests - send delayed survey requests
# Copyright (C) 2001-2011 OTRS AG, http://otrs.org/
# --
# $Id: survey_trigger_send_requests.dist,v 1.2 2011-12-15 16:30:11 jh Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see L<http://www.gnu.org/licenses/agpl.txt>.
# --

# This file is distributed with the extenstion '.dist'.
# Please remove the extension and uncomment the last line for production.

# every 20 min
#*/20 * * * * $HOME/bin/otrs.SurveyTriggerSendRequests.pl -e >> /dev/null