# --
# Copyright (C) 2001-2018 OTRS AG, http://otrs.com/
# --
# $origin: otrs - 32e2ee9e20388db9ae10a1c7414b274272b7c936 - Kernel/Output/HTML/Templates/Standard/AgentTicketNote.tt
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% InsertTemplate("AgentTicketActionCommon.tt") %]
