# --
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# $origin: https://github.com/OTRS/otrs/blob/50b6fe3ac88506d889d74b4aa892e420e53fcd0c/Kernel/Output/HTML/Templates/Standard/AgentTicketNote.tt
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% InsertTemplate("AgentTicketActionCommon.tt") %]
