<div class="WidgetFaqAlerts">

<div class="WidgetTitle">[% Translate("Alerts") %]</div>
<ul class="Alerts">
[% RenderBlockStart("Alert") %]
<li><a href="[% Env("Baselink") %]Action=CustomerFAQZoom;ItemID=[% Data.ID %]">[% Data.Title %]</a></li>
[% RenderBlockEnd("Alert") %]
</ul>

</div>
