# --
# AgentTicketDecision.tt - provides HTML form for decision mask
# Copyright (C) 2001-2014 OTRS AG, http://otrs.com/
# --
# $origin: https://github.com/OTRS/otrs/blob/75b2fdd054b47725c6a1c1925a77475a7a5af46c/Kernel/Output/HTML/Standard/AgentTicketNote.tt
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% InsertTemplate("AgentTicketActionCommon.tt") %]
