# --
# AgentTicketDecision.tt - provides HTML form for decision mask
# Copyright (C) 2001-2014 OTRS AG, http://otrs.com/
# --
# $origin: https://github.com/OTRS/otrs/blob/257dff6b7ca9197b4dee0ab8985f4d1a92a6ceaa/Kernel/Output/HTML/Standard/AgentTicketNote.tt
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% InsertTemplate("AgentTicketActionCommon.tt") %]
