# --
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% RenderBlockStart("Change") %]

[% RenderBlockStart("ChangeHeadline") %]
<table border="0" cellspacing="1" cellpadding="0" width="100%">
    <tr>
        <td class="mainhead">[% Data.HeaderArea | html %]#: [% Data.HeaderValue | html %] - [% Data.Title | truncate(30) | html %]</td>
    </tr>
</table>
[% RenderBlockEnd("ChangeHeadline") %]

<table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td width="50%" valign="top">
            <table border="0" cellspacing="3" cellpadding="0" width="100%">
                <colgroup>
                    <col width="40%"/>
                    <col width="60%"/>
                </colgroup>
[% RenderBlockStart("ChangeInfoLeft") %]
                <tr>
                    <td class="contentkey">[% Data.Key | html %]:</td>
                    <td class="contentvalue" >[% Data.Value | html %]</td>
                </tr>
[% RenderBlockEnd("ChangeInfoLeft") %]
            </table>
        </td>
        <td width="50%" valign="top">
            <table border="0" cellspacing="3" cellpadding="0" width="100%">
                <colgroup>
                    <col width="40%"/>
                    <col width="60%"/>
                </colgroup>
[% RenderBlockStart("ChangeInfoRight") %]
                <tr>
                    <td class="contentkey">[% Data.Key | html %]:</td>
                    <td class="contentvalue" >[% Data.Value | html %]</td>
                </tr>
[% RenderBlockEnd("ChangeInfoRight") %]
            </table>
        </td>
    </tr>
</table>

<table border="0" cellspacing="3" cellpadding="0" width="100%">
[% RenderBlockStart("ChangeLongText") %]
    <tr>
        <td class="contentkey">[% Data.Title | html %]:</td>
    </tr>
    <tr>
        <td> <pre>[% Data.LongText | html %]</pre></td>
    </tr>
[% RenderBlockEnd("ChangeLongText") %]
</table>

<table border="0" cellspacing="1" cellpadding="10" width="100%">
[% RenderBlockStart("ChangeLinkedObjects") %]
    <tr>
        <td class="contentkey">
            [% Translate("Linked Objects") | html %]:
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td width="50%" valign="top">
                        <table border="0" cellspacing="3" cellpadding="0" width="100%">
[% RenderBlockStart("ChangeLinkType") %]
                            <tr valign="top">
                                <td class="contentkey" width="20%">[% Translate(Data.LinkTypeName) | html %]:</td>
                                <td class="contentvalue">
[% RenderBlockStart("ChangeLinkTypeRow") %]
                                    [% Data.LinkStrg | html %]<br>
[% RenderBlockEnd("ChangeLinkTypeRow") %]
                                </td>
                            </tr>
[% RenderBlockEnd("ChangeLinkType") %]
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
[% RenderBlockEnd("ChangeLinkedObjects") %]
[% RenderBlockStart("WorkOrderOverview") %]
    <tr>
        <td class="contentkey">
            [% Translate("ITSM Workorder") | html %] [% Translate("Overview") | html %]:
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <colgroup>
                    <col width="16">
                    <col width="240">
                </colgroup>
                <tr>
                    <td class="contentkey">#</td>
                    <td class="contentkey">[% Translate("WorkOrderTitle") | html %]</td>
                    <td class="contentkey">[% Translate("WorkOrderState") | html %]</td>
                    <td class="contentkey">[% Translate("PlannedStartTime") | html %]</td>
                    <td class="contentkey">[% Translate("PlannedEndTime") | html %]</td>
                    <td class="contentkey">[% Translate("ActualStartTime") | html %]</td>
                    <td class="contentkey">[% Translate("ActualEndTime") | html %]</td>
                </tr>
[% RenderBlockStart("WorkOrderRow") %]
                <tr>
                    <td class="contentkey">[% Data.WorkOrderNumber | html %]</td>
                    <td class="contentkey">[% Data.WrappedWorkOrderTitle | html %]</td>
                    <td class="contentkey">[% Translate(Data.WorkOrderState) | html %]</td>
                    <td class="contentkey">[% Data.PlannedStartTime | Localize("TimeLong") %]</td>
                    <td class="contentkey">[% Data.PlannedEndTime | Localize("TimeLong") %]</td>
                    <td class="contentkey">[% Data.ActualStartTime | Localize("TimeLong") %]</td>
                    <td class="contentkey">[% Data.ActualEndTime | Localize("TimeLong") %]</td>
                </tr>
[% RenderBlockEnd("WorkOrderRow") %]
            </table>
        </td>
    </tr>
[% RenderBlockEnd("WorkOrderOverview") %]
</table>
[% RenderBlockEnd("Change") %]

[% RenderBlockStart("WorkOrders") %]
[% RenderBlockStart("WorkOrder") %]

[% RenderBlockStart("WorkOrderHeadline") %]
<table border="0" cellspacing="1" cellpadding="0" width="100%">
    <tr>
        <td class="mainhead">[% Data.HeaderArea | html %]#: [% Data.HeaderValue | html %] / [% Data.Title | truncate(30) | html %]</td>
    </tr>
</table>
[% RenderBlockEnd("WorkOrderHeadline") %]

<table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td width="50%" valign="top">
            <table border="0" cellspacing="3" cellpadding="0" width="100%">
                <colgroup>
                    <col width="40%"/>
                    <col width="60%"/>
                </colgroup>
[% RenderBlockStart("WorkOrderInfoLeft") %]
                <tr>
                    <td class="contentkey">[% Data.Key | html %]:</td>
                    <td class="contentvalue" >[% Data.Value | html %]</td>
                </tr>
[% RenderBlockEnd("WorkOrderInfoLeft") %]
            </table>
        </td>
        <td width="50%" valign="top">
            <table border="0" cellspacing="3" cellpadding="0" width="100%">
                <colgroup>
                    <col width="40%"/>
                    <col width="60%"/>
                </colgroup>
[% RenderBlockStart("WorkOrderInfoRight") %]
                <tr>
                    <td class="contentkey">[% Data.Key | html %]:</td>
                    <td class="contentvalue" >[% Data.Value | html %]</td>
                </tr>
[% RenderBlockEnd("WorkOrderInfoRight") %]
            </table>
        </td>
    </tr>
</table>

<table border="0" cellspacing="3" cellpadding="0" width="100%">
    <tr>
        <td class="contentkey">Workorder: [% Data.Title | html %]</td>
    </tr>
[% RenderBlockStart("WorkOrderLongText") %]
    <tr>
        <td class="contentkey">[% Data.Title | html %]:</td>
    </tr>
    <tr>
        <td> <pre>[% Data.LongText | html %]</pre></td>
    </tr>
[% RenderBlockEnd("WorkOrderLongText") %]
[% RenderBlockStart("WorkOrderLinkedObjects") %]
    <tr>
        <td class="contentkey">
            [% Translate("Linked-Object") | html %]:
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td width="50%" valign="top">
                        <table border="0" cellspacing="3" cellpadding="0" width="100%">
[% RenderBlockStart("WorkOrderLinkType") %]
                            <tr valign="top">
                                <td class="contentkey" width="20%">[% Translate(Data.LinkTypeName) | html %]:</td>
                                <td class="contentvalue">
[% RenderBlockStart("WorkOrderLinkTypeRow") %]
                                    [% Data.LinkStrg | html %]<br>
[% RenderBlockEnd("WorkOrderLinkTypeRow") %]
                                </td>
                            </tr>
[% RenderBlockEnd("WorkOrderLinkType") %]
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
[% RenderBlockEnd("WorkOrderLinkedObjects") %]
</table>
[% RenderBlockEnd("WorkOrder") %]
[% RenderBlockEnd("WorkOrders") %]
