# --
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# $origin: https://github.com/OTRS/otrs/blob/bc2139dd409b8aa286e5bbfe797bf8496a312ab0/Kernel/Output/HTML/Standard/AgentTicketNote.tt
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% InsertTemplate("AgentTicketActionCommon.tt") %]
